body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hide {
    display: none;
}

.active {
    font-weight: bold;
    color: black !important;
    border-bottom: 2px solid black !important;
}

#pokemonName {
    display: flex;
    justify-content: center;
    width: 100%;
}

.back {
    position: absolute;
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.back img {
    filter: invert(1);
    width: 30px;
    padding-right: 10px;
}
.back:hover {
    text-decoration: underline;
}

#pokedex {
    min-height: 50vh;
    background: #FFCF4A;
    color: white;
    padding: 10px;
    display: flex;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    color: grey;
}

.poke-img {
    width: 400px;
    height: 400px;
    margin-top: -300px;
    left: 100px;
    object-fit: contain;
}

.nav-item {
    width: 1000px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

.nav-item:hover {
    color: black;
    border-bottom: 2px solid black
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    /* padding: 10px; */
    padding-left: 50px;
    padding-right: 20px;
}

.info {
    padding: 10px;
}

.base-wrapper {
    display: flex;
}

.base-stats {
    position: relative;
}

.base-stats td {
    width: 200px;
}

.base-number {
    width: 100px !important;
}

.line {
    background-color: rgb(146, 148, 150);
    height: 10px;
    width: 100%;
}

.base-line {
    position: absolute;
    margin-left: -204px;
    margin-top: 6px;
}

.moves {
    padding: 5px;
}

.moves-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.evolution-img{
    width: 100px;
}

.evo-img-bg{
    border-radius: 100%;
    background-color: #eceff1;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
}

.evo-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}